CONFIG_CHIP_cv84x6=y
CONFIG_SIDE_TYPE_edge=y
CONFIG_ARCH="arm64"
CONFIG_BOARD_palladium=y
CONFIG_DDR_CFG_lp5x_2r_8533=y
CONFIG_CHIP_ARCH_84x6=y
CONFIG_STORAGE_TYPE_none=y

CONFIG_KERNEL_ENTRY_HACK=n
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_FLASH_SIZE_SHRINK=y
CONFIG_BOOT_IMAGE_SINGLE_DTB=y
#CONFIG_ROOTFS_OVERLAYFS=y
# CONFIG_TARGET_PACKAGE_GDBSERVER is not set
# CONFIG_TARGET_PACKAGE_NANOMSG is not set
# CONFIG_TARGET_PACKAGE_OTASERVER is not set
# CONFIG_TARGET_PACKAGE_RSYSLOG is not set
CONFIG_TOOLCHAIN_GLIBC_ARM64=y
CONFIG_UBOOT_2021_10=y
CONFIG_KERNEL_SRC_5.10=y
CONFIG_KERNEL_UNCOMPRESSED=y
CONFIG_KERNEL_COMPRESS="none"
CONFIG_ROOTFS_UBUNTU=y
#CONFIG_KERNEL_LZMA is not set
CONFIG_SKIP_RAMDISK=y
CONFIG_USE_4K_ERASE_SIZE_FOR_JFFS2=y
CONFIG_TARGET_PACKAGE_DROPBEAR=y
CONFIG_TARGET_PACKAGE_MTD-UTILS=y
CONFIG_TARGET_PACKAGE_BUSYBOX_SYSLOGD_SCRIPT=y
#
# Sensor settings
#

#
# Sensor support list
#
CONFIG_SENSOR_SONY_IMX327_FPGA=y

#
# Panel settings
#

#
# Panel support list
#
CONFIG_TOOLCHAIN_GLIBC_ARM64_V1131=y