BR2_aarch64=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="https://github.com/yike2024/host-tools/releases/download/V1.0/arm-gnu-toolchain-11.3.rel1-x86_64-aarch64-none-linux-gnu.tar.gz"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="aarch64-none-linux-gnu"
BR2_TOOLCHAIN_EXTERNAL_GCC_11=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_20=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
# BR2_TOOLCHAIN_EXTERNAL_INET_RPC is not set
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TOOLCHAIN_EXTERNAL_FORTRAN=y
BR2_TOOLCHAIN_EXTERNAL_OPENMP=y
BR2_BACKUP_SITE="http://sources.buildroot.net"
BR2_CPAN_MIRROR="http://cpan.metacpan.org"
BR2_GLOBAL_PATCH_DIR="$(TOPDIR)/board/sophgo/common/patches $(TOPDIR)/board/sophgo/cv186ah_wevb_emmc/patches"
BR2_TARGET_GENERIC_HOSTNAME="soph-bm1688"
BR2_TARGET_GENERIC_ISSUE="Welcome to SOPH-BM1688"
BR2_TARGET_GENERIC_ROOT_PASSWD="sophgo"
BR2_ROOTFS_OVERLAY="$(TOPDIR)/board/sophgo/common/overlay $(TOPDIR)/board/sophgo/edge_buildroot/overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/board/sophgo/common/post_build.sh $(TOPDIR)/board/sophgo/edge_buildroot/post_build.sh"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y
BR2_PACKAGE_QT5=y
BR2_PACKAGE_QT5BASE_GUI=y
BR2_PACKAGE_QT5BASE_WIDGETS=y
BR2_PACKAGE_PARTED=y
BR2_PACKAGE_ICU=y
BR2_PACKAGE_COLLECTD=y
BR2_PACKAGE_COLLECTD_NTPD=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_SUDO=y
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_XZ=y
BR2_PACKAGE_HOST_UTIL_LINUX=y
