menu "Memory Map Configuration"
config DRAM_SIZE
    hex "DRAM size"
    default 0x20000000

config RTOS_SYS_SIZE
    hex "RTOS SYS size"
    default 0x00400000 if ENABLE_ALIOS || ENABLE_FREERTOS
    depends on ENABLE_ALIOS || ENABLE_FREERTOS

config RTOS_ION_SIZE
    hex "RTOS ION size"
    default 0x06000000 if ENABLE_ALIOS
    depends on ENABLE_ALIOS

config ION_SIZE
    hex "ION size"
    default 0x00600000

endmenu
