CONFIG_CHIP_cv184x=y
CONFIG_ARCH="arm64"
CONFIG_TOOLCHAIN_GLIBC_ARM64=y
CONFIG_BOOT_IMAGE_SINGLE_DTB=y
CONFIG_STORAGE_TYPE_spinor=y
CONFIG_SENSOR_SONY_IMX327_FPGA=y
CONFIG_MIPI_PANEL_ILI9881C=y
CONFIG_UBOOT_2021_10=y
CONFIG_KERNEL_SRC_5.10=y
# CONFIG_ROOTFS_OVERLAYFS is not set
# CONFIG_TARGET_PACKAGE_GDBSERVER is not set
# CONFIG_TARGET_PACKAGE_OTASERVER is not set
# CONFIG_TARGET_PACKAGE_RSYSLOG is not set
CONFIG_KERNEL_UNCOMPRESSED=y
CONFIG_SKIP_RAMDISK=y
CONFIG_DUAL_OS=y
CONFIG_ENABLE_ALIOS=y
CONFIG_SUSPEND=n

CONFIG_DRAM_SIZE=0x1e000000
CONFIG_ION_SIZE=0x4B00000
CONFIG_RTOS_SYS_SIZE=0x400000
CONFIG_RTOS_ION_SIZE=0x6000000
