CONFIG_CHIP_cv1842hp=y
CONFIG_BOARD_wevb_0014a_spinor=y
CONFIG_DDR_CFG_ddr3_2133_x16=y
CONFIG_ARCH="arm"
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_KERNEL_ENTRY_HACK=y
CONFIG_TOOLCHAIN_MUSL_ARM=y
CONFIG_FLASH_SIZE_SHRINK=y
CONFIG_BOOT_IMAGE_SINGLE_DTB=y
CONFIG_STORAGE_TYPE_spinor=y
CONFIG_SENSOR_OV_OS04A10=y
CONFIG_SENSOR_SMS_SC4336=y
CONFIG_SENSOR_SMS_SC4336P=y
CONFIG_SENSOR_SMS_SC4336P_SLAVE=y
CONFIG_SENSOR_CVSENS_CV2003=y
#CONFIG_SENSOR_GCORE_GC2053=y
#CONFIG_SENSOR_GCORE_GC2053_1L=y
#CONFIG_SENSOR_GCORE_GC2093=y
#CONFIG_SENSOR_GCORE_GC4653=y
CONFIG_SENSOR_GCORE_GC8613=y
#CONFIG_SENSOR_PIXELPLUS_PR2020=y
#CONFIG_SENSOR_SONY_IMX307=y
#CONFIG_SENSOR_SONY_IMX327=y
CONFIG_SENSOR_SONY_IMX675=y
CONFIG_UBOOT_2021_10=y
CONFIG_KERNEL_SRC_5.10=y
CONFIG_KERNEL_SRC="linux_5.10"
CONFIG_KERNEL_LZMA=y
CONFIG_SKIP_RAMDISK=y
CONFIG_USE_4K_ERASE_SIZE_FOR_JFFS2=y
CONFIG_SENSOR_TUNING_PARAM_cv184x_src_cvsens_cv2003=y
# CONFIG_ROOTFS_OVERLAYFS is not set
#CONFIG_TARGET_PACKAGE_DROPBEAR=y
# CONFIG_TARGET_PACKAGE_RSYSLOG is not set
#CONFIG_TARGET_PACKAGE_BUSYBOX_SYSLOGD_SCRIPT=y
# CONFIG_TARGET_PACKAGE_GATORD is not set
CONFIG_TARGET_PACKAGE_GDBSERVER=n
CONFIG_TARGET_PACKAGE_LIBCRYPTO=n
CONFIG_TARGET_PACKAGE_OTASERVER=n
CONFIG_TARGET_PACKAGE_CRONTABS=n
CONFIG_C096L_DMA_ENABLE=y
CONFIG_AUD_DRV_SEL=y
CONFIG_SUSPEND=n

CONFIG_DUAL_OS=y
CONFIG_ENABLE_ALIOS=y
CONFIG_RTOS_BUILD_IN_FIP=n
CONFIG_DRAM_SIZE=0x10000000
CONFIG_ION_SIZE=0x4B00000
CONFIG_RTOS_SYS_SIZE=0x400000
CONFIG_RTOS_ION_SIZE=0x6000000
#

#
# Partition Configuration
#
CONFIG_FLASH_SIZE="16MB"
CONFIG_PARTITION_COUNT=8
CONFIG_PARTITION_1=y
CONFIG_PARTITION_1_LABEL="fip"
CONFIG_PARTITION_1_SIZE="2048"
CONFIG_PARTITION_1_FILE="fip_spl.bin"
CONFIG_PARTITION_1_MOUNTPOINT=""
CONFIG_PARTITION_1_TYPE=""

CONFIG_PARTITION_2=y
CONFIG_PARTITION_2_LABEL="2nd"
CONFIG_PARTITION_2_SIZE="1024"
CONFIG_PARTITION_2_FILE="yoc.bin"
CONFIG_PARTITION_2_MOUNTPOINT=""
CONFIG_PARTITION_2_TYPE=""
CONFIG_PARTITION_3=y

CONFIG_PARTITION_3_LABEL="BOOT"
CONFIG_PARTITION_3_SIZE="3072"
CONFIG_PARTITION_3_FILE="boot.spinor"
CONFIG_PARTITION_3_MOUNTPOINT=""
CONFIG_PARTITION_3_TYPE=""

CONFIG_PARTITION_4=y
CONFIG_PARTITION_4_LABEL="MISC"
CONFIG_PARTITION_4_SIZE="128"
CONFIG_PARTITION_4_FILE="logo.jpg"
CONFIG_PARTITION_4_MOUNTPOINT=""
CONFIG_PARTITION_4_TYPE=""

CONFIG_PARTITION_5=y
CONFIG_PARTITION_5_LABEL="ENV"
CONFIG_PARTITION_5_SIZE="64"
CONFIG_PARTITION_5_FILE=""
CONFIG_PARTITION_5_MOUNTPOINT=""
CONFIG_PARTITION_5_TYPE=""

CONFIG_PARTITION_6=y
CONFIG_PARTITION_6_LABEL="ENV_BAK"
CONFIG_PARTITION_6_SIZE="64"
CONFIG_PARTITION_6_FILE=""
CONFIG_PARTITION_6_MOUNTPOINT=""
CONFIG_PARTITION_6_TYPE=""

CONFIG_PARTITION_7=y
CONFIG_PARTITION_7_LABEL="ROOTFS"
CONFIG_PARTITION_7_SIZE="7104"
CONFIG_PARTITION_7_FILE="rootfs.spinor"
CONFIG_PARTITION_7_MOUNTPOINT=""
CONFIG_PARTITION_7_TYPE=""

CONFIG_PARTITION_8=y
CONFIG_PARTITION_8_LABEL="DATA"
CONFIG_PARTITION_8_SIZE="1024"
CONFIG_PARTITION_8_FILE="data.spinor"
CONFIG_PARTITION_8_MOUNTPOINT="/mnt/data"
CONFIG_PARTITION_8_TYPE="jffs2"
# end of Partition Configuration

