CONFIG_CHIP_cv1811c=y
CONFIG_DDR_CFG_ddr3_1866_x16=y
CONFIG_ARCH="riscv"
CONFIG_CROSS_COMPILE="riscv64-unknown-linux-musl-"
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_KERNEL_ENTRY_HACK=y
CONFIG_KERNEL_ENTRY_HACK_ADDR="0x80200000"
CONFIG_TOOLCHAIN_MUSL_RISCV64=y
# CONFIG_BUILD_FOR_DEBUG is not set
CONFIG_FASTBOOT=y
CONFIG_FLASH_SIZE_SHRINK=y
CONFIG_NO_FB=y
CONFIG_NO_TP=y
CONFIG_BOOT_TIME_OPTIMIZATION=y
CONFIG_ROOTFS_FORMAT_OPTIMIZATION=y
CONFIG_SKIP_UBOOT=y
CONFIG_OSDRV_BUILD_IN=y
CONFIG_BOOT_IMAGE_SINGLE_DTB=y
CONFIG_OD_CLK_SEL=y
CONFIG_IMPROVE_AXI_CLK=y
CONFIG_STORAGE_TYPE_spinor=y
CONFIG_IMPROVE_BL_NOR_SPEED=y
CONFIG_SENSOR_GCORE_GC2053=y
CONFIG_SENSOR_GCORE_GC2053_1L=y
CONFIG_SENSOR_GCORE_GC2093=y
CONFIG_SENSOR_GCORE_GC4653=y
CONFIG_SENSOR_PIXELPLUS_PR2020=y
CONFIG_SENSOR_SONY_IMX307=y
CONFIG_SENSOR_SONY_IMX327=y
CONFIG_UBOOT_2021_10=y
CONFIG_UBOOT_SPL_CUSTOM=y
CONFIG_KERNEL_SRC_5.10=y
CONFIG_KERNEL_UNCOMPRESSED=y
CONFIG_SKIP_RAMDISK=y
# CONFIG_ROOTFS_OVERLAYFS is not set
CONFIG_USE_4K_ERASE_SIZE_FOR_JFFS2=y
CONFIG_ENABLE_ALIOS=y
# CONFIG_MEDIA_SUPPORT_PROC is not set
CONFIG_RTOS_INIT_MEDIA=y
CONFIG_TARGET_PACKAGE_DROPBEAR=y
# CONFIG_TARGET_PACKAGE_GDBSERVER is not set
# CONFIG_TARGET_PACKAGE_LIBCRYPTO is not set
# CONFIG_TARGET_PACKAGE_LIBZ is not set
# CONFIG_TARGET_PACKAGE_OTASERVER is not set
# CONFIG_TARGET_PACKAGE_RSYSLOG is not set
# CONFIG_TARGET_PACKAGE_CRONTABS is not set
# CONFIG_TARGET_PACKAGE_GATORD is not set
