/dts-v1/;
#include "soph_base_arm64.dtsi"
//#include "soph_asic_bga.dtsi"
#include "soph_asic_emmc.dtsi"
#include "soph_default_memmap_4G.dtsi"

/ {
	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial2"; // "serial0:115200n8", no arguments means no re-initialization
	};

	memory@100000000 {
		device_type = "memory";
		reg = <0x1 0x00000000 0x3 0x00000000>;	//12G
	};

	reserved-memory {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;
#ifndef __UBOOT__
		//0x1_0400_0000 - 0x1_2400_0000 for TPU (owner: zhuolin.li@sophgo.com)
		//Don't move the TPU address
		scalar_reserved: scalar_mem {
			reg = <0x1 0x04000000 0x0 0x20000000>;  //512MB for TPU firmware
			no-map;
		};

		ion_for_npu: ion_npu_mem {
			compatible = "npu-region";
			reg = <0x2 0x00000000 0x0 0xC0000000>; // 3G, for npu
		};

		ion_for_vpp: ion_vpp_mem {
			compatible = "vpp-region";
			reg = <0x3 0x00000000 0x1 0x00000000>; // 4G, for TPU
		};
#endif
	};

	pcie1:pcie@20400000 {
		pipe-mode = <0x2>; //b'00 x2&&x2; b'10 sata&&x2
		reset-gpio = <&porte 2 GPIO_ACTIVE_HIGH>; //gpio 130
	};

	/delete-node/ cv-sd1;
	sd:cv-sd@29310000 {
		pwr-gpios = <&portg 6 GPIO_ACTIVE_HIGH>;
	};

	thermal-zones {
		soc_thermal_0 {
			trips {
				soc_thermal_trip_0 {
					temperature = <90000>; /* millicelsius 85->110000 */
					hysteresis = <10000>; /* millicelsius */
					type = "passive";
				};

				soc_thermal_trip_1 {
					temperature = <100000>; /* millicelsius 95->120 */
					hysteresis = <20000>; /* millicelsius */
					type = "passive";
				};

				soc_thermal_crtical_0 {
					temperature = <115000>; /* millicelsius 105->125 */
					hysteresis = <0>; /* millicelsius */
					type = "critical";
				};
			};
		};
	};

	cpus {
		#size-cells = <0x0>;
		#address-cells = <0x1>;

		/delete-node/ cpu-map;
		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};
				core1 {
					cpu = <&cpu1>;
				};
				core2 {
					cpu = <&cpu2>;
				};
				core3 {
					cpu = <&cpu3>;
				};
			};

			cluster1 {
				core0 {
					cpu = <&cpu4>;
				};
				core1 {
					cpu = <&cpu5>;
				};
			};
		};
		/delete-node/ cpu@102;
		/delete-node/ cpu@103;
	};

	bsl_leds: bsl_leds {
		compatible = "gpio-leds";
		disk-led {
			label = "disk-blue";
			gpios = <&portf 23 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		wan-led {
			label = "wan-yellow";
			gpios = <&portc 4 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		sys_led {
			gpios = <&portg 1 GPIO_ACTIVE_HIGH>;
			label = "system-green";
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};
	};

	vcc12v_dc: vcc12v-dc {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dc";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		enable-active-high;
		gpios = <&portg 11 GPIO_ACTIVE_HIGH>;
	};

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		//gpios = <&portd 21 GPIO_ACTIVE_HIGH>;
		gpios = <&portd 16 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc12v_dc>;
	};

	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpios = <&portd 3 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc12v_dc>;
	};

	vcc5v0_hub: vcc5v0-hub {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_hub";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpios = <&portc 15 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_host: vcc5v0-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpios = <&portg 5 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_mvme: vcc3v3-nvme {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_mvme";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpios = <&portb 18 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v8_4g: vcc3v8-4g {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v8_4g";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3800000>;
		regulator-max-microvolt = <3800000>;
		enable-active-high;
		gpios = <&portg 4 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc3v3_wifi: vcc3v3-wifi {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_wifi";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpios = <&porta 1 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_sys>;
	};

	i2c11: i2c@11 {
		compatible = "i2c-gpio";
		sda-gpios = <&porte 3 GPIO_ACTIVE_HIGH>;
		scl-gpios = <&porte 4 GPIO_ACTIVE_HIGH>;
		i2c-gpio,delay-us = <5>;
		#address-cells = <1>;
		#size-cells = <0>;
		reset-names = "i2c11";
		status = "okay";

		pmic010: pmic010@50 {
			compatible = "BasisLink,cs32l010";
			shutdown-gpio = <&portg 0 GPIO_ACTIVE_HIGH>;
			reg = <0x50>;
		};
	};
};

&uart0 {
	clock-frequency = <200000000>;
	current-speed = <115200>;
};

&hdmi {
	label = "SE9";
};


&usbdrd3_0 {
	usbdrd_dwc3_0: usb@39010000 {
		role-switch-default-mode = "host";
	};
};


&i2c6 {
	rtc@51 {
		compatible = "Haoyu,hym8563";
		init_date = "2024/01/01";
		reg = <0x51>;
	};
};

&gpio_leds {
	status = "disable";
};

&uart3 {
	status = "okay";
};

&uart5 {
	status = "okay";
};

&uart6 {
	status = "okay";
};
