CONFIG_RISCV=y
CONFIG_SYS_MALLOC_F_LEN=0x2000
CONFIG_NR_DRAM_BANKS=1
CONFIG_DEFAULT_DEVICE_TREE="cv184x_palladium"
CONFIG_IDENT_STRING=" cvitek_cv184x"
CONFIG_ARCH_RV64I=y
CONFIG_RISCV_SMODE=y
CONFIG_TARGET_CVITEK_CV184X=y
CONFIG_CVITEK_SPI_FLASH=n
CONFIG_DISTRO_DEFAULTS=n
CONFIG_FIT=y
# CONFIG_ARCH_FIXUP_FDT_MEMORY is not set
CONFIG_BOOTDELAY=0
CONFIG_SYS_PROMPT="cv184x_c906# "
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_EDITENV is not set
# CONFIG_CMD_CRC32 is not set
# CONFIG_CMD_LZMADEC is not set
# CONFIG_CMD_UNLZ4 is not set
# CONFIG_CMD_UNZIP is not set
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_MMC=y
# CONFIG_CMD_ITEST is not set
CONFIG_CMD_CACHE=y
CONFIG_CMD_CVI_SD_UPDATE=y
# CONFIG_ISO_PARTITION is not set
# CONFIG_EFI_PARTITION is not set
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_MMC=n
CONFIG_MMC_SDHCI=n
CONFIG_MMC_SDHCI_SDMA=n
CONFIG_MMC_SDHCI_CVITEK=n
CONFIG_MTD=y
# CONFIG_PHY_SMSC is not set
CONFIG_DM_ETH=n
CONFIG_ETH_DESIGNWARE=n
CONFIG_PHY_CVITEK=n
CONFIG_SYS_NS16550=y
CONFIG_SPI=n
CONFIG_LZ4=n
CONFIG_LZMA=n
CONFIG_TOOLS_LIBCRYPTO=n
# CONFIG_SPI_FLASH_USE_4K_SECTORS is not set
